frr defaults datacenter
hostname {{ hostname }}
username cumulus nopassword
!
ip forwarding
!
service integrated-vtysh-config
!
log syslog informational
!
{% if bgpd == 'yes' %}
{% if bgp_role == 'sp' %}
{% include 'bgp_sp.j2' %}
{% elif bgp_role == 'enterprise' %}
{% include 'bgp_enterprise.j2' %}
{% endif %}
{% endif %}
!
{% if ospfd == 'yes' %}
{% include 'ospf.j2' %}
{% endif %}
line vty
!
