DEVICE=team0
DEVICETYPE=Team
ONBOOT=yes
BOOTPROTO=none
IPADDR={{ ip_team }}
PREFIX=24
TEAM_CONFIG='{"runner": {"name": "activebackup", "hwaddr_policy" : "by_active"}, "link_watch": {"name": "ethtool"}}'
